oneclik-deploy.sh
.dev
assets/scripts/scripts.sh

versions/*/jars
versions/2.6.1/DockerCompose/pgadmin/pgadmin4.db
versions/2.6.1/DockerCompose/postgres/data
versions/2.6.1/DockerCompose/pgadmin/*
versions/2.6.1/DockerCompose/logs/*
versions/2.6.1/DockerCompose/dags/dag_processor_manager/*
versions/2.6.1/DockerCompose/dags/scheduler/*

versions/2.6.1/DockerCompose/Docker/.cache
versions/2.6.1/Docker/.cache
versions/2.6.1/Docker/.local
versions/2.6.1/Docker/.bash_history
versions/2.6.1/Docker/.sudo_as_admin_successful
versions/2.6.1/Docker/scripts/.bash_history
versions/2.6.1/DockerCompose/versions/2.6.1/DockerCompose/pgadmin/pgadmin4.db
versions/2.6.1/DockerCompose/.env


versions/2.6.1/DockerCompose/versions/2.6.1/DockerCompose/postgres/data/
versions/2.6.1/DockerCompose/versions/2.6.1/DockerCompose/pgadmin/storage/wiseupdata_wiseupdata.com/*
versions/2.6.1/DockerCompose/versions/2.6.1/DockerCompose/pgadmin/sessions/
versions/2.7.3/docker-compose-custom-img/logs/*
versions/2.7.3/docker-compose/logs/*
versions/2.6.1/docker-compose/logs/*
versions/2.6.1/DockerCompose/versions/2.6.1/DockerCompose/dags/__pycache__/*
versions/2.6.1/DockerCompose/versions/2.6.1/DockerCompose/logs/*
versions/2.6.1/DockerCompose/versions/2.6.1/DockerCompose/pgadmin/*
versions/2.7.3/docker-compose/.env
versions/2.7.3/docker-compose-custom-img/.env
versions/2.7.3/docker-compose-custom-img/dags/futurerich
versions/2.7.3/docker-compose-custom-img/dags/utils
versions/2.7.3/docker-compose-custom-img/dags/__pycache__/test.cpython-38.pyc
